{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}
{% set created_date = node.getCreatedTime|format_date('umami_dates') %}

<article{{ attributes.addClass(classes) }}>
  <div class="card" style="width: 18rem;">
    {% if node.field_card_image.isEmpty %}
      {% set image_url = '/sites/default/files/default_images/sorry.png' %}
    {% else %}
      {% set image_url = file_url(node.field_card_image.entity.uri.value) %}
    {% endif %}

    <img src="{{ image_url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ content.field_title }}</h5>
      <p class="card-text">{{ content.body|render|striptags|slice(0, 100) }}</p>
      <br>
      <a href="{{ node.field_url.0.uri }}" class="btn btn-primary">Read more</a>
    </div>
  </div>

</article>
