{{ attach_library('flexi_style/node') }}
{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  layout ? 'grid-full',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}
    {% if node.field_image.isEmpty %}
      {% set image_url = '/sites/default/files/default_images/sorry.png' %}
    {% else %}
      {% set image_url = file_url(node.field_image.entity.uri.value) %}
    {% endif %}
<article{{ attributes.addClass(classes) }} style="margin:4px;">
  <div class="card mb-3">
    <img src="{{ image_url }}" class="card-img-top article-card" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ content.field_title }}</h5>
      <p class="card-text">{{ content.body|render|striptags|slice(0, 100) }}</p>
      <p class="card-text">
        <small class="text-muted"><a href="{{ url }}" class="">View more</a></small></p>
    </div>
  </div>
</article>
